@{
    ViewData["Title"] = "Contact page";
}

	
<div class="text-center">
	<p>Index</p>
	<a class="btn btn-primary" href="@Url.Action("details", "Contact")">Show all Contact</a>
		<a class="btn btn-primary" href="@Url.Action("add", "Contact")">Add Contact</a>

</div>


