<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		Début du layout custom
	</div>
	<main>
		@RenderBody()
	</main>
	<div>
		Fin du custom layout
	</div>
</body>
</html>