<section id="home">
	<div class="container">
		<div class="wrapper_column gap1">
			<div class="element">
				<h1 class="text-center">
					GraDino #v0.01
				</h1>
			</div>
			<div class="wrapper_row gap1">
				<div class="element">
					<a  asp-action="List" class="button">Go to List</a>
				</div>	
				<div class="element">
					<a asp-action="CreateRandom" class="button">Create a Random GraDino</a>
				</div>
			</div>
		</div>
	</div>
</section>