@model Movie
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
string formMode = ViewBag.FormMode;



ViewData["Title"] = formMode switch
{
"Edit" => "Edit a movie",
"Delete" => "Delete a movie",
"Details" => "See details",
_ => "Add a movie"
};

var btnColorClass = formMode switch
{
"Edit" => "btn-warning",
"Delete" => "btn-danger",
"Details" => "btn-secondary",
_ => "btn-success"
};

var btnText = formMode switch
{
"Edit" => "Editer",
"Delete" => "Confirmer",
"Details" => "Retour",
_ => "Ajouter"
};

}

<form asp-action="@formMode">
	<input type="hidden" asp-for="Id" />
	<div class="row mb-3">
		<div class="col-4">
			<label asp-for="Title" class="form-label"></label>
		</div>
		<div class="col-8">
			<input asp-for="Title" class="form-control" />
		</div>
		<div class="col-12">
			<span class="text-danger" asp-validation-for="Title"></span>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-4">
			<label asp-for="Director" class="form-label"></label>
		</div>
		<div class="col-8">
			<input asp-for="Director" class="form-control" />
		</div>
		<div class="col-12">
			<span class="text-danger" asp-validation-for="Director"></span>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-4">
			<label asp-for="Duration" class="form-label"></label>
		</div>
		<div class="col-8">
			<input asp-for="Duration" class="form-control" />
		</div>
		<div class="col-12">
			<span class="text-danger" asp-validation-for="Duration"></span>
		</div>
	</div>

	<div class="d-flex">
		<button class="ms-auto btn @btnColorClass">
			@btnText
		</button>
	</div>
</form>