@use "reset";
@use "./components/utils/variables" as v;
@use "./components/utils/mixins" as mixins;
@use "./components/utils/classes";
@use "./components/utils/elements";
@use "./components/utils/variables";
@use "./components/ui/header";	
@use "./components/ui/modal";	

#appcontainer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 0;
	margin: 0 auto;
	max-width: 40vw;

	@media screen and (max-width: v.$md_breakpoint) {
		max-width: 80vw;

	}
}

#app {
	display: flex;
	flex-direction: column;
	gap: 8rem;
}

.lyt_container {
	padding: 0;
	margin: 0 auto;
	max-width: 62vw;
}

.container_responsive {
	@include mixins.flex_res(initial, center, column, row)
}

.wrapper_end, .element_end, .container_end {
	@include mixins.flex(flex-end, flex-end, row)
}

.wrapper_row,
.container_row,
.element_row {
	@include mixins.flex(center, center, row)
}

.wrapper_start,
.container_start,
.element_start {
	@include mixins.flex(flex-start, flex-start, row)
}

.container_center,
.element_center,
.wrapper_center {
	@include mixins.flex(center, center, row);
}

.wrapper_column_center,
.container_column_center,
.element_column_center {
	@include mixins.flex(center, center, column);
}

.container_between,
.element_between,
.wrapper_between {
	@include mixins.flex(center, space-between, row);
}

.container_betweencolumn,
.element_betweencolumn,
.wrapper_betweencolumn {
	@include mixins.flex(flex-start, space-between, column);
}

.wrapper_column,
.container_column,
.element_column {
	@include mixins.flex(flex-start, flex-start, column);

}

.container_product{
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	#product_card{
		flex: 1 0 25%;
		box-shadow: var(--box_shadow01);
		padding: 1rem;
		border: var(--border_color01);
		border-radius: 0.5rem;
	}
}
.quantity{
	background-color: var(--color_highlight);
	border-radius: 5rem;
	padding: 0 1rem;
	font-size: 1rem;
	display: flex;
	z-index: 0;
	align-items: center;
	justify-content: center;
	top: -0.5rem;
	right: -1rem;
	position: absolute;
}